<h1>Add a Contact</h1>

  <form action="/address_form" method="post">
    <label for="first_name">First Name</label>
    <input id="first_name" name="first_name" type="text">

    <label for="last_name">Last Name</label>
    <input id="last_name" name="last_name" type="text">

    <label for="birth_month">Birth Month</label>
    <input id="birth_month" name="birth_month" type="text">

    <button type="submit">Add Contact</button>
  </form>
